.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050; /* Asegurarse de que esté por encima de otros elementos */
}

.notification {
  margin: 0;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
